
/* Navbar highlighting */
.navbar-nav li.nav-item a.nav-link:hover {
    color: #006782 ; /* Hover text color */
    font-weight: bold; /* Make text bold on hover */

}

.language_button:hover{
    color:#006782;
    font-weight: bold;
}

#karusell {
    padding-top: 100px;
    padding-bottom: 100px;
}
  
.language_icon {
    width: 18px;
    height: auto; /* Maintain aspect ratio */
    display: inline-block;
}

.language_button {
    font-size: 14px;
    background-color: #ffffff;
    border: none;
}

/* Carossel Indicator (kleiner Kreis): inaktiv */
/* #0ca4cc */
.slider_section .carousel-indicators li {
    background-color: #0ca4cc;   
    width: 12px;
    height: 12px;
    border-radius: 100%;
    opacity: 1;
}

/* Carousel indicator (kleiner kreis): aktiv */

.slider_section .carousel-indicators li.active {
    width: 17px;
    height: 17px;
    background-color: #006782;
}

/* testimonial box */
.client_section .box .img-box {
    border-radius: 100%;
    border: 10px solid #006782;
    margin-right: 25px;
    min-width: 175px;
    max-width: 175px;
    overflow: hidden;
}

/* Testomonial name*/
.client_section .box .detail-box .name h6 {
    color: #006782;
    font-size: 20px;
}

/* B U T T O N S */

.custom_button_1 {
    background-color: #006782;
}


.contact_section .form_container button {
    background-color: #006782;
    color: #ffffff;
}